apiVersion: v1
kind: Namespace
metadata:
  name: climapp
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pgdata-pvc
  namespace: climapp
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: db
  namespace: climapp
  labels:
    app: db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db
  template:
    metadata:
      labels:
        app: db
    spec:
      containers:
      - name: postgres
        image: postgres:15
        envFrom:
          - secretRef:
              name: db-secret
        ports:
          - containerPort: 5432
        volumeMounts:
          - name: pgdata
            mountPath: /var/lib/postgresql/data
        livenessProbe:
          exec:
            command: ["pg_isready", "-U", "$(POSTGRES_USER)", "-d", "$(POSTGRES_DB)"]
          initialDelaySeconds: 30
          periodSeconds: 10
      volumes:
        - name: pgdata
          persistentVolumeClaim:
            claimName: pgdata-pvc
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: climapp
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: emanuelongo2310/backend:latest
        ports:
          - containerPort: 8000
        env:
          - name: DATABASE_URL
            value: "postgresql://$(POSTGRES_USER):$(POSTGRES_PASSWORD)@db.climapp.svc.cluster.local:5432/$(POSTGRES_DB)"
        envFrom:
          - configMapRef:
              name: backend-config
        command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000", "--reload"]
        # Sin volumeMounts ni volumes → usa la imagen tal cual
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: climapp
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: onemayepes/frontend-climapp:latest
        ports:
          - containerPort: 80
        env:
          - name: NODE_ENV
            value: production
        # Sin volumeMounts → imagen ya tiene el build